<html>
    <head>
        <title>{{ user }} - Home</title>
    </head>
    <body data-new-gr-c-s-check-loaded="14.1000.0" data-gr-ext-installed="">
        <h1 style = "font-size:30px"><b>{{ user }}</b></h1>
        <form action="/query" method="GET">
            <input name="q" placeholder="search here" type="text" value="">
            <input type="submit" value="search videos">
        </form>

        <form action="/music_query" method="GET">
            <input name="q" placeholder="search here" type="text" value="">
            <input type="submit" value="search music videos">
        </form>
    </body>
</html>