<html>
    <head>
        <title>Youtube Description Search - Query</title>
    </head>
    <body>
        <h1 style = "font-size: 30px"><b>Youtube Description Search</b></h1>
        
        <a href="./">Home</a>
        <form action="/query?q={{ query_term }}" method="POST">
            <input name="description_search" placeholder="search here" type="text" value="">
            <input name="search_button" type="submit" value="search descriptions">
        </form>

        {% if data is defined %}
            <ol>
            {% for item in data %}
                <li class="youtube-video">{{ item['snippet']['title'] }}
                    <br/> <span> {{ item['snippet']['description'] | safe }} </span>
                    <br/> <a href="https://www.youtube.com/watch?v={{ item['id']['videoId'] }}" target='_blank'>Youtube Link</a> 
                </li>
            {% endfor %}
        {% else %}
            <p>No search results</p>
        {% endif %}
        </ol>
    </body>
</html>