<html>
    <head>
        <title>Proper Title</title>
    </head>
    <body>
        {% if data is defined %}
            <ol>
            {% for item in data %}
                <li>{{ item['snippet']['title'] }}
                    <br/> {{ item['snippet']['description'] }}
                    <br/> <a href="https://www.youtube.com/watch?v={{ item['id']['videoId'] }}" target='_blank'>Youtube Link</a> 
                </li>
            {% endfor %}
        {% else %}
            <p>no search results</p>
        {% endif %}
        </ol>
    </body>
</html>